proj/obj/Debug/net6.0/refint/proj.dll
proj/obj/Debug/net6.0/ref/proj.dll
proj/obj/Debug/net6.0/proj.pdb
proj/obj/Debug/net6.0/proj.dll
proj/obj/Debug/net6.0/*.dll
proj/bin/Debug/net6.0/proj.dll
proj/bin/Debug/net6.0/proj.pdb
proj/obj/Debug/net6.0/proj.dll
proj/bin/Debug/net6.0/proj.dll
proj/bin/Debug/net6.0/proj.dll
proj/bin/Debug/net6.0/proj.pdb
proj/obj/Debug/net6.0/proj.dll
